@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;500;600;700&family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200&display=swap');

:root{
    --main-color: #CE65F2;
    --transition: color 0.3s, background-color, border-color, all 0.2s ease-in-out;
}

body::-webkit-scrollbar{
    width: 8px;
    transition: var(--transition);
}

body::-webkit-scrollbar-thumb{
    background-color: #D2D2D2;
    border-radius: 5px;
}


html{
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    scroll-behavior: auto;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

a{
    cursor: pointer;
}

body{
    margin: 0;
    overflow-x: hidden;
}

h1{
    font-size: 6rem;
    margin-bottom: 10px;
    color: var(--main-color);
    transition: var(--transition);
}

h3{
    margin: 10px;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    transition: var(--transition);
}

p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

main .container{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

footer {
    background-color: var(--main-color);
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    color: white; 
    transition: var(--transition);
    padding:  10rem 10rem 1rem 10rem;
}


.loader{
    margin: 1rem auto;
    display: block;
    width: 4rem; height: 4rem;
}

.hidden{
    display: none;
}

header {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    z-index: 999;  
}

header nav{
    display: flex;
}

.message-form{
    font-size: 2rem;
}

.response{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
}

.response h2 {
    font-weight: 400;
    font-size: 2.3rem;
    margin: 0;
}

.response p{
    font-size: 1.6rem;
}

.items{
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
}

.item{
    color: var(--main-color);
    transition: var(--transition);
}

.item i{
    font-size: 34px;
}

.recents.container{
    display: flex;
    height: auto;
    padding-top: 10%;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    border: solid 3px var(--main-color);
    padding: 1rem;
    transition: var(--transition);
}

.card-phrase{
    margin: 0;
    display: inline;
    width: auto;
}

.color-changer{
    position: fixed;
    z-index: 1001;
    right: 25px;
    bottom: 25px;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
}

.color-changer:active{
    transform: scale(0.8);
}

.color-changer i{
    font-size: 50px;
    color: #fff;
    transition: var(--transition);
}

.title-page-cards{
    font-size: 3rem;
    color: var(--main-color);
    transition: var(--transition);
}

/* form */


.form-container{
    display: flex;
    height: 13rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;

}

.container-inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}


.btn-form, .btn-back {
	background-color:var(--main-color);
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	padding:12px 58px;
	text-decoration:none;
    border: none;
    transition: var(--transition);
    margin: 0 auto;
}

.select{
    width: 13rem;
    
    padding: 10px 20px;
    border: 1px solid #cecece;
    border-radius: 8px;
    font-size: 22px;
    background: rgb(255, 255, 255);
}

.phrase {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 32rem;
    height: 3rem;
    padding: 10px 20px;
    border: 1px solid #cecece;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 22px;
    -o-text-overflow: clip;
    background: rgb(255, 255, 255);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.about{
    text-align: center;
}

.about p{
    font-size: 20px;
}

.about h2, .collaborators h2{
    font-size: 3rem;
    margin-bottom: 5rem;
}

.collaborators{
    margin-top: 20rem;
    margin-bottom: 20rem;
    text-align: center;
}


.container-collabs{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.container-collabs img{
    width: 200px;
    height: 200px;
}

.container-collabs p{
    font-weight: 400;
}

.group-info{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.group-info p{
    font-size: 85%;
}

.author{
    text-align: center;
}

.author i{
    font-size: 30px;
    color: #fff;
    margin-bottom: 8px;
}

/* ----------------------------------------- Responsive Design ----------------------------------------- */

@media screen and (max-width: 1153px){

    main .container{
        padding: 4rem 1rem;
        min-height: 90vh;
    }

    header {
        height: 5rem;
    }

    h1{
        font-size: 4rem;
    }

    .items{
        gap: 2rem;
        margin-left: 1.8rem;
    }

    .item i{
        font-size: 28px;
    }

    h3{
        font-size: 1.4rem;

    }

    p{
        font-size: .9rem;
    }

    .message-form{
        font-size: 1.3rem;
    }

    .container-inputs{
        
    }

    .select{
        font-size: 1rem;
        width: auto;
        flex-grow: 1;
    }

    .phrase{
        flex-grow: 1;
        font-size: 1rem;
        width: auto;
        height: 2rem;
    }

    .response{
        margin-top: 3rem;
    }

    .response h2 {
        font-size: 1.6rem;
    }

    .response p{
        font-size: 1.1rem;
    }

    .btn-form, .btn-back{
        font-size: 1rem;
        padding: 11px 30px;
    }

    .color-changer{
        width: 35px;
        height: 35px;
    }

    .color-changer i{
        font-size: 35px;
    }

    .recents.container{
        padding: 6rem 1rem;
    }

    .title-page-cards{
        font-size: 1.2rem;
    }

    .card-container{
        width: 80%;
    }

    .card-question{
        font-size: 1rem;
    }

    .card-phrase{
        font-size: .8rem;
        text-align: start;
    }

    footer{
        padding: 4rem 1rem;
        padding:  4rem 1rem 1rem 1rem;
    }

    .about p{
        font-size: 0.9rem;
    }

    .about h2, .collaborators h2{
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    .container-collabs img{
        width: 150px;
        height: 150px;
    }

    .container-collabs{
        gap: 2rem;
    }

        
    .group-info p{
        font-size: 75%;
    }

    .group-info {
        flex-direction: column;
        gap: 0px;
    }

    .group-info p {
        font-size: 60%;
        margin: 2px;
    }
}


@media screen and (max-height: 520px) {
    main .container{
        height: auto;
    }

    .color-changer i {
        color: var(--main-color);
    }

}